body {
  
    font-family: Arial,Arial, Helvetica, sans-serif;
  }

  h1 {
    color: rgb(32, 23, 23);
    border-style: solid;
  }
  h2 {
    font-size: 40px;
    color: rgb(75, 0, 0);
    text-align: left;
  }
  p {
    color: rgb(32, 23, 23);
    border-style: solid;
  }
  
